@model IEnumerable<EcommerceV1.Models.Role>

@{
    ViewData["Title"] = "Quản lý quyền truy cấp";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body" >
        <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <a class="breadcrumb-item" asp-action="Index">Danh sách quyền truy cập</a>
                
            </nav>
        </div>
    </div>
    <div class="col-lg-12 text-right">
                    <button class="btn">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <a asp-action="Create">Thêm quyền</a>
                    </button>
                </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Role name</th>
                <th scope="col">Description</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
           @if(Model != null)
            {
                foreach(var item in Model)
                {
                  <tr>
                    <th scope="row">@item.RoleId</th>
                    <td>@item.RoleName</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.RoleId" asp-controller="AdminRoles" class="btn btn-tone btn-primary m-r-5"> <i class="anticon anticon-edit"> </i></a>
                        <a asp-area="Admin" asp-action="Details" asp-route-id="@item.RoleId" asp-controller="AdminRoles" class="btn btn-tone btn-info m-r-5"> <i class="anticon anticon-eye"> </i></a>
                        <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.RoleId" asp-controller="AdminRoles" class="btn btn-tone btn-danger m-r-5"> <i class="anticon anticon-delete"> </i></a>
                    </td>
                  </tr>
                }
            }
        </tbody>
    </table>
</div

</div>

</div>
