@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<EcommerceV1.Models.Customer>


@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <a class="breadcrumb-item" asp-action="Index">Danh sách khách hàng : Page @CurrentPage</a>
                
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Trạng Thái</option>
                                <option value="all">All</option>
                                <option value="homeDeco">Home Decoration</option>
                                <option value="eletronic">Eletronic</option>
                                <option value="jewellery">Jewellery</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Status</option>
                                <option value="all">All</option>
                                <option value="inStock">In Stock </option>
                                <option value="outOfStock">Out of Stock</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Thêm Khách hàng</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                          
                            <th>Tên khách hàng</th>
                            <th>Email</th>
                            <th>Số điện Thoại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if(Model != null)
                            {
                                foreach(var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid rounded"
                                                 src="~/AdminAssets/images/others/thumb-9.jpg" style="max-width: 60px"
                                                 alt="">
                                                <h6 class="m-b-0 m-l-10">@item.FullName</h6>
                                            </div>
                                        </td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Location?.Name</td>
                                        <td>
                                           @(item.Active == true ? "Hoạt đông" : "Bị khóa")
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                <i class="anticon anticon-edit"></i>
                                            </button>
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                                <i class="anticon anticon-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                              
                            }
                        }
                       
                       
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Customers" asp-action="Index" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>